[Unit]
Description=Botcontrol
After=multi-user.target

[Service]
Type=idle
ExecStart=/usr/bin/python3 /home/pi/Trailcam/botcontrol.py
User=pi
Group=pi
KillSignal=SIGINT

[Install]
WantedBy=multi-user.target

