[Unit]
Description=Trailcam
After=multi-user.target

[Service]
Type=idle
ExecStart=/usr/bin/python3 -u /home/pi/Trailcam/trailcam.py -t False -s True
User=pi
Group=pi
KillSignal=SIGINT

[Install]
WantedBy=multi-user.target
